output/
__pycache__
*.pkl
*.DS_Store
LUT*/
model_ckpt/
cache/
run_slurm/
slurm/
output*
rn34_output*
rn50_output*
rn34_rtx2080*
rn50_rtx2080*
model*.txt
test_skip.py
generate_lst.py
generate_group.py
measure_halp.py
merge_rtx2080.py
test.py
plots/
pretrained/
my_util/
msr*
solve*.sh
*.egg-info
ddpm_chk.txt
ddpm_mgd.txt
